p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0%;
}
address {
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
a {
  color: currentColor;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
:root {
  --basic-color: #2196f3;
  --color-paragraph: #757575;
  --color-heading: #212121;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-size {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header > .container {
  display: flex;
  align-items: center;
}
.header {
  background: #ffffff;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
body {
  padding-top: 80px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 83px;
}
.logo > span {
  color: #000000;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-list {
  padding-left: 0;
}
.header-item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
}
.current::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 10px;
  color: var(--color-heading);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:not:last-child {
  margin-right: 50px;
}

.header-link:hover {
  color: var(--basic-color);
}
.header-link:focus {
  color: var(--basic-color);
}
.header-connect {
  margin-left: auto;
}
.header-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
  display: flex;
}

.adress-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
  fill: var(--color-paragraph);
  margin-left: 50px;
  align-items: center;
  display: flex;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-item:hover,
.adress-item:focus {
  color: var(--basic-color);
  fill: var(--basic-color);
}

.adress-icon {
  margin-right: 10px;
}

.main-heading {
  max-width: 1600;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 200px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 200px;
  text-align: center;
}

.main-caption {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-btn {
  background-color: var(--basic-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}
.main-btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  display: flex;
  padding-left: 0;
  text-align: left;
  gap: 30px;
}
.section-benefits {
  padding-top: 94px;
}
.benefits-icon {
  display: flex;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.benefits-icon-item {
  width: 270px;
  height: 120px;
  border: 50%;
  background-color: #f5f4fa;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.benefits-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-heading);
}
.benefits-item {
  gap: 30;
}
.benefits-paragraph {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
  margin-top: 10px;
  max-width: 270px;
}
.description-img {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 113px;
  position: absolute;
  max-width: 370px;
  bottom: 0;
  left: 0;
  text-align: center;
  text-justify: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.developer-item:hover .description-img {
  opacity: 1;
}
.developer-item:focus .description-img {
  opacity: 1;
}

.developer-item {
  position: relative;
}
.developer-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}
.developer-list {
  width: calc((100% - 60px) / 3);
}

.developer-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-heading);
  margin-bottom: 50px;
}
.team {
  background-color: #f5f4fa;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-caption {
  padding: 30px 8px;
  text-align: center;
  background-color: #ffffff;
}
.team-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}
.team-list {
  width: calc((100% - 90px) / 4);
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-heading);
  margin-bottom: 50px;
}

.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--color-heading);
}

.team-paragraph {
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
  margin-top: 10px;
  margin-bottom: 16px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.client-logo {
  display: flex;
  gap: 30px;
  padding-left: 0;
}
.logo-item-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-item-link:hover,
.logo-item-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer-list {
  background-color: #2f303a;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  padding-left: 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-footer > span {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-logo {
  margin-bottom: 20px;
  display: flex;
}

.footer-list .container {
  display: flex;
}

.footer-item {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.address-link {
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--basic-color);
}

.footer-list:hover,
.footer-list:focus {
  color: var(--basic-color);
}
mailing {
  margin-left: 93px;
}
.mailing-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  margin-left: 93px;
  margin-bottom: 20px;
}
.mailing-input {
  position: relative;
  display: flex;
  margin-left: 93px;
}
.sent-svg {
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
}
.input-mailing {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  color: #ffffff;
  padding-left: 16px;
}
.mailing-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  width: 200px;
  height: 50px;
  border: none;
}

.social-connect-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 70px;
}
.social-connect-list {
  display: flex;
  gap: 10px;
  padding-left: 0;
  margin-left: 70px;
}

.soc-item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-item-footer:hover,
.soc-item-footer:focus {
  background-color: #2196f3;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.list-btn {
}
.list-button {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 8px;
}
.btn-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding: 6px 22px;
  gap: 8px;
  background: #f5f4fa;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:first-child {
  margin-left: 0px;
}
.btn-item:hover,
.btn-item:focus {
  background-color: var(--basic-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-example-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-example-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-example-item:hover .wrapper-text {
  transform: translateY(0%);
}
.list-example-item:focus .wrapper-text {
  transform: translateY(0%);
}

.border-paragraph {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #eeeeee;
}
.example-heading {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--color-heading);
  margin-bottom: 4px;
}

.example-paragraph {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
}
.wrapper-list-example {
  position: relative;
  overflow: hidden;
}
.wrapper-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.close-modal {display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  align-items: center;
  justify-content: center;

}
.close-modal:hover {
  fill:var(--basic-color)}
.modal-par {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  
}
.modal-input {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  outline: transparent;
  transition: border-color 300ms;
}

.modal-field {
  margin-top: 10px;
}
.modal-field:first-child {margin-top: 12px;}
.input-wrap {
  position: relative;
  margin-top: px;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 300ms;
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input:focus + .input-icon {
  fill: var(--basic-color);
}
.modal-input-comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
padding: 15px;
}
.modal-submit-btn { display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 124px;
  border: none;

}
.policy-text {margin-top: 20px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  justify-content: center;
}
.policy-text span {
  color: var(--basic-color);
}
.policy-text::before {
  width: 16px;
  content: "";
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-check:checked + .policy-text::before {border: none;
background-image: url(../image/check.svg);
background-color:var(--basic-color);
background-repeat: no-repeat;
background-position:center;}
